.card-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    width: 100%;

    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 1366px) {
        grid-template-columns: repeat(4, 1fr);
    }
}