.search-bar {
    margin-bottom: 2rem;

    input {
        border: 1px solid cyan;
        padding: 1rem 0.5rem;
        width: 100%;

        @media screen and (min-width: 768px) {
            width: 50%;
        }

        @media screen and (min-width: 1366px) {
            width: 25%;
        }
    }
}